.sp, .sp425, .sp375, .sp320 {
  display: none;
}
@media screen and (max-width: 1500px) {
  .gnav {
    justify-content: center;
  }
  .gnav > li > a, .gnav > li > span {
    padding: 28px 36px 26px;
  }
}
@media screen and (max-width: 640px) {
  h1, h2, h3, h4, h5, h6, input, button, textarea, select, p, blockquote, th, td, pre, address, li, dt, dd {
    font-size: 140%;
  }
  #wrapper {
    min-width: 100%;
    margin: 0;
    padding: 57px 0 50px !important;
  }
  #main, #footer {
    min-width: 100%;
  }
  .container, .under #main {
    padding: 0 3%;
    width: 100%;
    box-sizing: border-box;
  }
  .sp {
    display: block;
  }
  .pc {
    display: none;
  }
  .image-r, .image-l {
    float: none;
    text-align: center;
    margin: 0 0 20px;
  }
  /** start table scroll***/
  /*<p class="sp note">※表は左右にスクロールして確認することができます。</p>
<p class="sp note">※画像は左右にスクロールして確認することができます。</p>*/
  .tbl-scroll, .img-scroll {
    overflow-x: scroll;
  }
  .tbl-scroll > table, .img-scroll img {
    min-width: 640px;
  }
  .tbl-scroll > table > table {
    min-width: 100%;
  }
  /** end table scroll***/
  /* MENU-ICON */
  .menu-icon {
    width: 57px;
    height: 57px;
    box-sizing: border-box;
    text-align: center;
    position: fixed;
    text-transform: uppercase;
    line-height: 1em;
    right: 0;
    top: 0;
    cursor: pointer;
    color: #fff;
    font-size: 13px;
    padding: 35px 0 5px;
    z-index: 99999;
    background: rgba(50, 38, 27, .6);
  }
  .menu-icon span {
    display: block;
    margin: 0;
    width: 35px;
    height: 2px;
    background-color: #fff;
    -webkit-transition-duration: 0;
    -moz-transition-duration: 0;
    -ms-transition-duration: 0;
    -o-transition-duration: 0;
    transition-duration: 0;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
  }
  .menu-icon span::after, .menu-icon span::before {
    display: block;
    content: '';
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: #fff;
    -webkit-transition-property: margin, -webkit-transform;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s, 0;
    -moz-transition-delay: 0.2s, 0;
    -ms-transition-delay: 0.2s, 0;
    -o-transition-delay: 0.2s, 0;
    transition-delay: 0.2s, 0;
  }
  .menu-icon span::before {
    margin-top: -9px;
  }
  .menu-icon span::after {
    margin-top: 9px;
  }
  .menu-icon.active span {
    background-color: transparent;
  }
  .menu-icon.active span::before, .menu-icon.active span::after {
    margin-top: 0px;
    -webkit-transition-delay: 0, 0.2s;
    -moz-transition-delay: 0, 0.2s;
    -ms-transition-delay: 0, 0.2s;
    -o-transition-delay: 0, 0.2s;
    transition-delay: 0, 0.2s;
  }
  .menu-icon.active span::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .menu-icon.active span::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #gnavi {
    position: fixed;
    width: 100%;
    height: calc(100% - 56px);
    top: 57px;
    left: 0;
    z-index: 999;
    background: rgba(50, 38, 27, .9);
    display: none;
    overflow: auto;
  }
  .gnav {
    display: block;
  }
  .gnav > li {
    padding: 0;
  }
  .gnav > li > a, .gnav > li > span {
    font-size: 16px;
    display: block;
    padding: 15px 24px;
    border-bottom: #fff 1px solid;
    color: #fff;
  }
  .gnav > li > a:after, .gnav > li > span:after {
    display: none;
  }
  .gnav > li > a:hover, .gnav > li > span:hover {
    text-decoration: none;
  }
  .submenu {
    position: relative;
    width: 100%;
    border: none;
  }
  .submenu li a {
    padding: 13px 0 13px 30px;
    font-size: 14px;
    background: #a08c61;
  }
  .submenu li a:hover {
    background: #a08c61;
  }
  .submenu li:last-child a {
    border-bottom: #fff 1px solid;
  }
  .gnav > li:nth-child(-n+5):before {
    display: none;
  }
  .gnav > li.over:after {
    bottom: auto;
    left: auto;
    transform: rotate(45deg);
    right: 3%;
    top: 22px;
    transition: all .3s;
  }
  .gnav > li.over.active:after {
    transform: rotate(225deg);
  }
  .gnav > li:nth-last-child(2) {
    border: none;
  }
  .gnav > li:nth-last-child(2) a {
    padding: 15px 24px;
  }
  .close-menu {
    background: #8c6450;
    width: 250px;
    margin: 30px auto;
    text-align: center;
    color: #fff;
    padding: 12px;
    cursor: pointer;
  }
  #totop {
    width: 40px;
    right: 3%;
    bottom: 50px;
    border: #fff 1px solid;
    line-height: 0;
  }
  /* header */
  #index #header {
    position: relative;
    z-index: auto;
  }
  .h-box {
    position: fixed;
    z-index: 100;
    background: rgba(234, 207, 179, 1);
    height: 57px;
  }
  .h-tel, .h-time {
    display: none;
  }
  h1 {
    padding: 10px 0 10px 3%;
  }
  h1 img {
    width: 220px;
  }
  #index #mainvisual {
    padding-top: 0;
  }
  .idx-slide li {
    height: 55vw;
  }
  #index #mainvisual h2, #index #mainvisual .idx-main-ttl {
    width: auto;
    padding-left: 10vw;
    top: 34vw;
    left: 0;
    transform: translateX(0);
    font-size: 4vw;
  }
  /* index */
  .box01 .container {
    padding: 30px 3% 10px;
  }
  .box01 .container > div {
    width: 100%;
  }
  .box01 .time-off, .box01 .b01-add {
    font-size: 14px;
  }
  .box01 .station {
    display: table;
    margin: 0 auto 15px;
    padding: 0 20px;
    font-size: 4.5vw;
  }
  .box01 .station .num {
    font-size: 7vw;
  }
  .box01 .station:before, .box01 .station:after {
    width: 3vmin;
    height: 3vmin;
  }
  .b01-map {
    text-align: center;
    width: 100%;
  }
  .box02 {
    padding: 30px 0;
  }
  .box02 .container {
    justify-content: center;
  }
  .b02-ttl {
    margin-bottom: 30px;
  }
  .b02-ttl h3 span {
    display: none;
  }
  .b02-ttl a {
    padding: 25px 0 10px;
  }
  .b02-box {
    height: 300px;
    width: 100%;
  }
  .b02-box ul li .ttl {
    width: 100%;
    padding-top: 10px;
  }
  .box03 {
    padding: 30px 0;
  }
  .box03 .container h3 {
    font-size: 24px;
  }
  .b03-ttl {
    margin-bottom: 30px;
  }
  .b03-sub01 > li:first-child {
    width: 100%;
    height: 250px;
  }
  .b03-sub01 > li:last-child {
    width: 100%;
    padding: 30px 3%;
  }
  [class^="b03-sub"] h3 {
    font-size: 24px;
  }
  .b03-circle li {
    width: 27vmin;
    height: 27vmin;
    margin: 0 2vw;
    font-size: 3vw;
  }
  .b03-txt01 li:first-child {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  .b03-txt01 li:last-child {
    justify-content: center;
    width: 100%;
    padding-bottom: 0;
  }
  .b03-sub02 li:last-child {
    width: 100%;
    order: 1;
  }
  .b03-sub02 li:first-child {
    width: 100%;
    order: 2;
    padding: 30px 3%;
  }
  .b03-sub03 {
    flex-wrap: wrap;
  }
  .b03-sub03 li:not(:last-child) {
    border-right: none;
  }
  .b03-sub03 li {
    width: 100%;
  }
  .b03-sub03 li .img {
    margin-bottom: 20px;
    border-bottom: none;
  }
  .b03-sub03 li h3 {
    text-align: center;
  }
  .b03-sub03 li h3, .b03-sub03 li .txt {
    padding: 0 3%;
  }
  .b03-sub03 li h3 span {
    display: inline-block;
  }
  .b03-sub03 li .txt {
    margin-bottom: 0;
  }
  .b03-sub01 {
    padding: 0;
  }
  .b03-sub01 h3 {
    padding-top: 0;
  }
  .b03-sub02 {
    padding: 30px 5%;
  }
  .b03-sub02-box {
    background: rgba(255, 255, 255, .9);
    padding: 20px;
  }
  .b03-sub02-box h3 {
    text-align: center;
  }
  .b03-sub03-box .cnt {
    padding: 30px 20px;
  }
  .b03-sub03-box.even .img {
    order: 1;
  }
  .b03-sub03-box.even .cnt {
    order: 2;
  }
  .b03-sub03-box .cnt:before {
    border-width: 0 0 160px 300px;
  }
  .b03-sub03-box.even .cnt:before {
    border-width: 160px 0 0 300px;
  }
  .box04 {
    padding: 30px 0 10px;
  }
  .box04:before {
    right: calc(50% + 5vw);
  }
  .box04:after {
    left: calc(50% + 5vw);
  }
  .b04-box {
    margin: 0 auto 30px;
    padding: 0 3%;
  }
  .b04-h3 {
    margin-right: 0;
    text-align: center;
    width: 100%;
  }
  .b04-h3 h3 {
    font-size: 24px;
  }
  .b04-box > p {
    text-align: center;
    width: 100%;
  }
  .b04-list01 {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .b04-list01 li {
    width: 100%;
  }
  .b04-list01 li h4 {
    font-size: 20px;
  }
  .b04-list02 {
    padding: 30px 0;
  }
  .b04-list02 li {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .b04-list02 .ttl {
    height: 9vw;
    font-size: 3vw;
    margin-bottom: 2vw;
  }
  .b04-list02 a {
    height: 20vw;
    width: 100%;
  }
  .b04-list02 a img {
    max-width: 80%;
    max-height: 90%;
  }
  .box05 {
    background: url(../images/b05_bg_sp.jpg) center;
    padding: 30px 3% 10px;
  }
  .b05-cnt .txt {
    font-size: 16px;
  }
  .b05-box > li:nth-child(1) {
    order: 2;
    width: 50%;
    height: 40vw;
  }
  .b05-box > li:nth-child(3) {
    order: 3;
    width: 50%;
  }
  .b05-cnt {
    width: 100%;
    padding: 20px 3% 10px;
    order: 1;
  }
  .b05-cnt h3 {
    font-size: 24px;
    text-align: center;
  }
  .b05-cnt .txt.last-txt {
    margin-bottom: 25px;
  }
  /* footer */
  .f-call {
    display: flex;
    height: 50px;
    width: 100%;
    border-top: #fff 1px solid;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }
  .f-call.show {
    opacity: 1;
    visibility: visible;
  }
  .f-call li {
    display: flex;
    width: 50%;
    background: #6b5e4b;
  }
  .f-call li:last-child {
    background: #8a713b;
  }
  .f-call li:first-child {
    border-right: #fff 1px solid;
  }
  .f-call li a {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: .05em;
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝B", serif;
  }
  .f-call li:first-child a:before {
    display: inline-block;
    content: '';
    background: url(../images/ico_letter2.png) no-repeat;
    background-size: 100% auto;
    width: 15px;
    height: 11px;
    margin-right: 5px;
    top: -1px;
    position: relative;
  }
  .f-call li:last-child a:before {
    display: inline-block;
    content: '';
    background: url("../images/f_tel.png") no-repeat;
    background-size: 100% auto;
    width: 16px;
    height: 12px;
    margin-right: 5px;
    top: -1px;
    position: relative;
  }
  .f-box01 {
    padding: 30px 3% 0;
  }
  .f-logo {
    margin-bottom: 5px;
  }
  .f-logo img {
    width: 280px;
  }
  .f-cnt li:first-child {
    font-size: 31px;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
  }
  .f-time {
    margin: 0;
    padding-left: 0;
  }
  .f-time li {
    margin: 0 0 20px;
  }
  .f-time li:first-child, .f-time li:last-child {
    width: 100%;
  }
  .f-time li .time-off {
    font-size: 14px;
    padding-bottom: 7px;
    margin-bottom: 10px;
  }
  .f-time li .time-off span {
    font-size: 16px;
  }
  .f-time li .f-add {
    font-size: 14px;
  }
  .f-box02 iframe {
    height: 299px;
  }
  .f-box03 {
    padding: 20px 0 0;
  }
  .f-bnr {
    margin-bottom: 0;
  }
  .f-bnr li {
    margin: 0 5px 20px;
  }
  .f-link {
    display: none;
  }
  /* kijikaku */
  .blog-cate {
    width: 100%;
  }
  .blog-date {
    width: 100%;
  }
  .blog.under-list a {
    max-width: 100%;
  }
  /* under */
  .under #main {
    margin: 0 auto 30px;
  }
  section, .section {
    margin: 0 0 30px;
  }
  .topic-path {
    text-align: left;
    padding-top: 0;
  }
  .tbl-block tr, .tbl-block th, .tbl-block td {
    display: block;
    width: 100% !important;
    border-bottom: none;
  }
  .tbl-block {
    border-bottom: 1px solid #857967;
  }
  .anchor-list li {
    margin: 0 2.5% 15px;
    width: 45%;
  }
  .under #mainvisual {
    height: 150px;
  }
  .under #mainvisual.prevent, .under #mainvisual.maintenance, .under #mainvisual.implant {
    background-size: auto 100%;
  }
  .under #mainvisual.perio {
    background: url("../images/perio_h2_bg_sp.jpg") center no-repeat;
  }
  .under #mainvisual.esthe {
    background: url("../images/esthe_h2_bg_sp.jpg") center no-repeat;
  }
  .under #mainvisual.ortho {
    background: url("../images/ortho_h2_bg_sp.jpg") center no-repeat;
  }
  .under #mainvisual.root {
    background: url("../images/root_h2_bg_sp.jpg") center no-repeat;
  }
  .under #mainvisual.denture {
    background: url("../images/denture_h2_bg_sp.jpg") center no-repeat;
  }
  .under #mainvisual.inclusive {
    background: url("../images/inclusive_h2_bg_sp.jpg") center no-repeat;
  }
  .under #mainvisual.access {
    background: url("../images/access_h2_bg_sp.jpg") center no-repeat;
  }
  .under #mainvisual.clinic {
    background: url("../images/clinic_h2_bg_sp.jpg") center no-repeat;
  }
  .under #mainvisual.staff {
    background: url("../images/staff_h2_bg_sp.jpg") center no-repeat;
  }
  .under #mainvisual.blog {
    background: url("../images/blog_h2_bg_sp.jpg") center no-repeat;
  }
  .under #mainvisual {
    margin-bottom: 15px;
  }
  .under #mainvisual .container h2 {
    font-size: 24px;
    padding-top: 0;
  }
  .under #content h3, .under #content h4, .under #content h5, .under #content h6 {
    margin-bottom: 25px;
  }
  .under #content h3 {
    font-size: 23px;
  }
  .under #content h4 {
    font-size: 21px;
  }
  .under #content h5 {
    font-size: 19px;
  }
  .under #content h6 {
    font-size: 17px;
    padding: 9px 15px 8px;
  }
  .under-frame {
    padding: 20px;
  }
  .under .section {
    margin-bottom: 35px
  }
  .under_bnr a, .under_bnr a.small-bnr {
    width: 100%;
    font-size: 20px;
    padding: 30px 20px
  }
  .under_bnr a:before {
    background-size: 30px;
  }
  .under_bnr p {
    margin-bottom: 18px
  }
  .case_list .image-l {
    width: 100%;
    text-align: center
  }
  .case_list .image-l > a {
    height: auto;
  }
  .case_list .image-l img {
    max-height: 320px;
    top: auto;
    transform: none
  }
  .case_list .c_tit {
    margin-bottom: 11px;
  }
  .case_list .c_tit a {
    font-size: 15px;
  }
  .case_detail .img_c img {
    max-width: 100%;
    max-height: 330px
  }
  .box_blog {
    width: 100%;
    padding: 25px
  }
  .list_blog .img {
    margin: 0 20px 0 0
  }
  .list_blog .img a {
    width: 100px;
    height: 90px
  }
  #content .under-tbl h5, #content .under-tbl h6 {
    margin: 0;
  }
  .tbl-scroll > table.col-3, .img-scroll img {
    min-width: 750px;
  }
  .tbl-scroll > table.col-8, .img-scroll img {
    min-width: 1130px;
  }
  .box-be-af {
    flex-direction: column;
  }
  .box-be-af .items {
    width: 100%;
  }
  .box-be-af .list-wrap.col-2 {
    justify-content: space-around;
  }
  .box-be-af .list-wrap.col-2 li:first-child {
    margin-right: 0px;
  }
  .box-be-af .list-wrap li p:first-child {
    margin-bottom: 15px;
  }
  .box-be-af .items + .items {
    margin-top: 10px;
  }
  .box-img .items:first-child {
    margin-bottom: 30px;
  }
  .box-be-af .items:first-child {
    margin-bottom: 20px;
  }
  .box-img .items .ttl {
    font-size: 14px;
    margin-bottom: 15px;
    min-width: 90px;
  }
  .box-img p {
    margin-bottom: 20px;
  }
  .box-img.col-5 p {
    width: 280px;
  }
  .under-dl {
    margin-bottom: 40px;
  }
  .under-dl.step {
    margin-bottom: 55px;
  }
  .under-dl.step::after {
    bottom: -40px;
  }
  .under-dl dt {
    font-size: 16px;
    padding: 20px;
  }
  .under-dl dd {
    padding: 20px;
  }
  .rating {
    padding: 20px;
    width: 100%;
    text-align: center;
  }
  .under-tbl .gmap iframe {
    height: 300px;
  }
  .w80 {
    width: 100%;
  }
  .under-list.split-2col li, .under-list.split-3col li {
    width: 100%;
  }
  .under-list.split li:last-child, .under-list.split-2col li:last-child, .under-list.split-3col li:last-child {
    margin-bottom: 0;
  }
  .under-list.split li {
    width: 100%;
    margin: 0 0 50px;
  }
  .under-list.split li::after {
    right: 50%;
    top: calc(100% - 15px);
    transform: translate(50%, 0) rotate(90deg);
  }
  .under-frame.denture {
    background: #f9f9fb;
  }
  .under-tbl.calendar {
    width: 100%;
    max-width: 640px;
    font-size: 2vw;
  }
  .under-tbl.calendar th, .under-tbl.calendar td {
    padding: 0.5em;
  }
  .list-ball {
    width: 100%;
  }
  .list-ball li {
    width: 170px;
    height: 170px;
    font-size: 16px;
    margin: 0 20px 30px;
  }
  .list-ball li.big {
    font-size: 28px;
  }
  .idx_box ul {
    display: block;
  }
  .idx_box li {
    display: block;
    width: 100%;
    height: auto;
  }
  .idx_box {
    max-width: 100%;
  }
  .idx_box .txt {
    font-size: 4vw;
    padding-right: 24vw !important;
  }
  .idx_box li span {
    margin-bottom: 5px
  }
  .idx_box h3 {
    font-size: 24px;
    padding: 30px 10px 0;
    margin-bottom: 20px
  }
  .idx_box .idx-btn {
    margin-top: 15px;
  }
  .split-2col, .split-3col {
    justify-content: center;
  }
  .split-2col li, .split-3col li {
    margin: 0 0 30px;
    width: 100%;
  }
  .clinic-step dt {
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin-right: 15px;
  }
  .clinic-step dd {
    width: calc(100% - 65px);
  }
  .clinic-step dd .ttl {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 480px) {
  .anchor-list li {
    width: 100%;
    margin: 0 0 15px 0;
  }
  .anchor-list li:last-child {
    margin-bottom: 0
  }
  .list_blog .img {
    margin: 0 0 15px 0;
    float: none;
    text-align: center
  }
  .list_blog .img a {
    height: auto;
    width: 100%;
  }
  .list_blog .img img {
    max-height: 320px;
  }
}
@media screen and (max-width: 425px) {
  .sp425 {
    display: block;
  }
  .anchor-list li {
    margin: 0 0 15px;
    width: 90%;
  }
}
@media screen and (max-width: 375px) {
  .sp375 {
    display: block;
  }
  .rating {
    display: flex;
    justify-content: space-around;
  }
  .rating > span span {
    display: block;
    margin-right: 0px;
  }
  .rating span + span {
    margin-left: 0px;
  }
  .idx_box h3 {
    font-size: 21px;
  }
  .idx_box li:last-child .txt {
    margin-left: -10px;
  }
}
@media screen and (max-width: 320px) {
  .sp320 {
    display: block;
  }
  .col-img img {
    max-width: 100%;
  }
  .idx_box .txt {
    padding-right: 35vw;
  }
}